# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Environment & Credentials
.env
.env*.local
google-credentials*.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
